.Login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}


.Login p{
    color: rgb(241, 92, 92);
    margin-bottom: 24px;
}

.Login h1{
    color: black;
    margin-bottom: 42px;
    font-size: 48px;
}

.Login form input{
    margin-top: 24px;
    width: 400px;
    
    padding: 16px;
    font-size: 14px;

    
}

.Login form input:focus{
    outline: none;
}

.login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    width: 600px;
    padding: 32px;
    background-color: white;
    border-radius: 5px;
}


.login-box button{
    margin-top: 32px;
    background-color:#242526 ;
    border: none;
    color: white;
    padding: 24px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
