.Login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #1e1e20;
}


.Login p{
    color: rgb(241, 92, 92);
    margin-bottom: 24px;
}

.Login h1{
    color: #242526;
    margin-bottom: 42px;
    font-size: 48px;
}

.Login form input{
    margin-top: 24px;
    width: 400px;
    
    padding: 16px;
    font-size: 14px;
    
    
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #ccc;
    
}

.Login form input:focus{
    outline: none;
    border-color: #E08E6D;

}

.login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    width: 600px;
    padding: 32px;
    background: url("../assets/login-box.svg");
    border-radius: 24px;
}


.login-box button{
    margin-top: 32px;
    background-color:#E08E6D ;
    border: none;
    color: white;
    padding: 16px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    
}

.login-box span{
    margin-top: 32px;
}

.login-box span a{
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width:768px) {
  .login-box{
    max-width: 350px;
    height: 100%;
    
  }

  .Login h1{
    font-size: 32px;
    margin-bottom: 8px;
  }

  .Login form input{
    width: 100%;
  }

  
}
