nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgb(83, 77, 77);
    background-color: #242526;
    color: white;
}

.nav-content h1{
    font-weight: 700;
    font-size: 32px;
}

.nav-content-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    max-width: 1600px;
    width: 100%;
  
}



.logout-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e3f3f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms all ease;
}

.logout-wrapper:hover{
    background-color: #5e5e5e;
}

.logout-btn{
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-content-2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-content-2 p{
    margin-right: 12px;
}