.sidebar-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: #23252b;
  box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
  z-index: 50;
  margin-top: 55px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
 
  
  
}

.sidebar-close{
  display: none;
  transition: 100ms ease;
}

.sidebar h2 {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.profile {
  background-color: #E08E6D;
  padding: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: white;
}

.sidebar-element {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
  color: white;
  padding: 12px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  text-decoration: none;
  
}

.sidebar-element h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 12px;
  color: white;
}

.sidebar-element.active {
    margin-left: 24px;
    
  box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #e08e6d;
  color: #e08e6d;
  
  text-decoration: none;
 
}

.sidebar-element.active h2 {
  color: #e08e6d;
  text-decoration: none;
}

.sidebar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}

.sidebar .logout-wrapper{
    height: 100%;
    width: 100%;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.sidebar button{
    background-color:#E08E6D ;
    border: none;
    color: white;
    padding: 16px;
    width: 200px ;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
