.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
  z-index: 50;
  margin-top: 55px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.sidebar h2 {
  color: #1e1e20;
  font-weight: 500;
  font-size: 16px;
}

.profile {
  background-color: #f3f3f3;
  padding: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #e7e7e7;
}

.sidebar-element {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;

  padding: 12px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  text-decoration: none;
  color: #1e1e20;
}

.sidebar-element h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 12px;
}

.sidebar-element.active {
    margin-left: 24px;
    
  box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #e08e6d;
  color: #e08e6d;
  transition: 300ms all ease;
  text-decoration: none;
 
}

.sidebar-element.active h2 {
  color: #e08e6d;
  text-decoration: none;
}
